body{
    margin:0;
    padding:0;
    background:#552619;
    /* background:#CEDDBB; */
    background-size:cover;
}
.title{
    text-align:center;
    padding:50px 0 20px;
}
.title h1{
    margin:0;
    padding:0;
    color:#fff;
    text-transform:uppercase;
    font-size:36px;
}
.container{
    width:50%;
    height:400px;
    /* background:#fff; */
    margin:0 auto;
    border:2px solid #fff;
    box-shadow:0 15px 40px rgb(0,0,0.5);
}
.container .left{
  float:left;
  width:50%;
  height:400px;
  background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMle2nV-tLLMi3ukudH6AuY1bp3i1yHZ0oCkMSSgfx3p3ToYgnQcRgLbRWqAzaeaXu0O0&usqp=CAU); 
  background-size:cover;
  box-sizing:border-box; 
}
.container .right{
    float:right;
    width:50%;
    height:400px;
    box-sizing:border-box; 
  }
.formBox{
    width:100%;
    padding:80px 40px;
    box-sizing:border-box;
    height:400px;
    background:#fff; 
}
.formBox p{
    margin:0;
    padding:0;
    font-weight:bold;
    color:#a6af13;

}
.formBox input{
    width:100%;
    margin-bottom:20px;
}
.formBox input[type="text"],
.formBox input[type="Password"]{
    border:none;
    border-bottom:2px solid #a6af13;
    outline:none;
    height:40px;
}
.formBox input[type="text"]:focus,
.formBox input[type="Password"]:focus{
    border-bottom:2px solid #262626;
}
.formBox input[type="submit"]{
    border:none;
    outline:none;
    height:50px;
    color:#fff;
    background:#262626;
    cursor: pointer;
}
.formBox input[type="submit"]:hover{
    background:#a6af13;
}
.form a{
    color:#262626;
    font-size:12px;
    font-weight:bold;
}

@media (max-width: 768px){

    .container{
        width:90%;
        height:auto;
    }

    .container .left,
    .container .right{
        float:none;
        width:100%;
        height:auto;
    }

    .container .left{
        height:200px;
        background-position:center;
    }

    .formBox{
        padding:40px 25px;
        height:auto;
    }

    .title h1{
        font-size:26px;
    }
}

